.container{
	position: absolute;
	top:0;
	left:0;
	right:0;
	height:100px;
	border-bottom:1px solid rgba(255,255,255,0.1);
	color:#fff;
}

.back, .share{
	width:100px;
	height:100px;
}

.back {
	float: left;
}

.back svg {
	margin:20px;
	width:60px;
	height:60px;
}

.share {
	float: right;
}

.share svg {
	margin:20px;
	width:60px;
	height:60px;
}

.info {
	float: left;
	width:550px;
	text-align: center;
}

.info__song {
	display: block;
	height:60px;
	font-size: 40px;
	line-height: 60px;
}

.info__artist {
	display: block;
	height:40px;
	font-size: 28px;
	line-height: 40px;
}